@charset "UTF-8";

#one {
	align-items: center;
	font-size: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10em 10em 10em;
}
body{
	color:red;
}
