<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Livros por categoria</title>
</head>
<body>

	 <div class="mb-4">
       <ul class="nav nav-pills mb-4" id="pillNav" role="tablist">
        </ul>
          <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-white border rounded-5 shadow-sm" id="pillNav2" role="tablist">
          <li class="nav-item" role="presentation">
          <a href="/" target="_blank">
            <button class="nav-link rounded-5 active" id="home-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Integrantes</button>
          </a>
          </li>
          <li class="nav-item" role="presentation">
          <a href="/pageOne">
            <button class="nav-link rounded-5 "id="profile-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Livros por categoria</button>
          </a>
          </li>
          <li class="nav-item" role="presentation">
          <a href="">
            <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" tabindex="-1">Pesquisa por codigo de livro</button>
          </a>
          </li>
         </ul>
       </div>

</body>
</html>